{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Boost.dev - Accelerate Your Development Journey{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        {% tailwind_css %}
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    </head>

<body>
    <header>
        <a href="/" class="logo">
            <span class="logo-icon">B</span>
            Boost.dev
        </a>
    </header>
    
    <!-- Messages -->
    {% if messages %}
    <div class="messages-container">
        {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    
    <!-- Main Content Section -->
    <main>
        {% block content %}
        <!-- Content goes here -->
        {% endblock %}
    </main>
    
    <!-- Footer Section -->
    <footer>
        <p>&copy; 2025 Boost.dev. All rights reserved.</p>
        <div class="social-links">
            <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 24 24">
                    <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path>
                </svg>
            </a>
            <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 24 24">
                    <path d="M7.75 2h8.5A5.75 5.75 0 0 1 22 7.75v8.5A5.75 5.75 0 0 1 16.25 22h-8.5A5.75 5.75 0 0 1 2 16.25v-8.5A5.75 5.75 0 0 1 7.75 2zm0 2A3.75 3.75 0 0 0 4 7.75v8.5A3.75 3.75 0 0 0 7.75 20h8.5A3.75 3.75 0 0 0 20 16.25v-8.5A3.75 3.75 0 0 0 16.25 4h-8.5zM12 7.5a4.5 4.5 0 1 1 0 9 4.5 4.5 0 0 1 0-9zm0 2a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zm5.25-3a.75.75 0 1 1 0 1.5.75.75 0 0 1 0-1.5z"></path>
                </svg>
            </a>
            <a href="https://www.twitter.com" target="_blank" rel="noopener noreferrer">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 24 24">
                    <path d="M19.633 7.997c.013.18.013.36.013.54 0 5.49-4.18 11.82-11.82 11.82-2.35 0-4.53-.69-6.37-1.87.33.04.65.05.99.05 1.95 0 3.74-.66 5.16-1.77-1.82-.03-3.36-1.24-3.89-2.9.26.05.52.08.8.08.38 0 .76-.05 1.12-.15-1.9-.38-3.33-2.06-3.33-4.07v-.05c.56.31 1.2.5 1.88.52a4.1 4.1 0 0 1-1.83-3.42c0-.75.2-1.45.55-2.05 2.02 2.48 5.04 4.1 8.45 4.27-.07-.3-.1-.62-.1-.94 0-2.3 1.87-4.17 4.17-4.17 1.2 0 2.28.5 3.04 1.3a8.27 8.27 0 0 0 2.64-1 4.14 4.14 0 0 1-1.83 2.3 8.3 8.3 0 0 0 2.38-.65 8.8 8.8 0 0 1-2.08 2.15z"></path>
                </svg>
            </a>
        </div>
    </footer>
</body>
</html>